<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Picture Pitcher</title>
    <meta name="description" content="Betterfying Your Images">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="Picture Pitcher" />
    <meta property="og:image" content="" />
    <meta property="og:description" content="Helping your pictures tell a better story" />
    <!-- NEED TO ADD STILL -->

    <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->

    <!-- build:css({app,.tmp}) /css/main.css -->
    <link rel="stylesheet" href="/_bower_components/normalize-css/normalize.css">
    <link rel="stylesheet" href="/css/main.css">
    <!-- endbuild -->
   <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700' rel='stylesheet' type='text/css'>

    <!-- build:js(app) /js/head-scripts.js -->
    <!-- Replace with a custom modernizer build for production -->
    <script src="/_bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->

  </head>
  <body>
    <!--[if lt IE 9]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    {{ content }}

    {% include scripts.html %}
    {% include googleanalytics.html %}


      <!-- ****************************************************************
    ****************************************************************

    BUILT BY ME :)

    I'M AVAILABLE FOR PHOTOSHOPPING AND WEBSITE BUILDING.  SHOOT ME AN EMAIL AT info[at]picturepitcher.me TO CHAT ABOUT YOUR PROJECT

    THANKS FOR STOPPING BY

    ****************************************************************
    **************************************************************** -->

  </body>

</html>


