.footer {
  // $footer-background: desaturate(darken(#D36861, 20), 30);#B6544F
  $footer-background:#686B6D;
  $footer-color: $main-font;
  $footer-link-color: $main-font;
  $footer-disclaimer-color: transparentize($footer-color, .6);
  // background: $footer-background;
  padding: 4em 6em;
  width: 100%;
  border-top:1px solid #848080;

  .footer-logo {
    text-align: center;
    margin-bottom: 3em;

    img {
      height: 3em;
      max-height:100%;
    }
  }

  .footer-links {
    @include clearfix;
    // margin-bottom: $base-line-height;

    @include media($medium-screen) {
      @include shift(3);
    }
  }

  ul {
    // margin-bottom: $base-line-height*2;

    @include media($medium-screen) {
      @include span-columns(3);
      @include omega(3n);
      @include clearfix;
    }
  }

  li {
    text-align: center;
    padding:.75em 0;
    @include media($medium-screen) {
      text-align: left;
      padding:0;
    }
  }

  li a {
    color: $footer-link-color;
    text-transform:uppercase;
    font-weight:700;

    &:hover {
      color: lighten($footer-color, 30);
    }
  }

  hr {
    border: 1px solid transparentize($footer-disclaimer-color, .3);
    margin: 0 auto $base-line-height;
    width: 12em;
  }

  p {
    color: $footer-disclaimer-color;
    font-size: .9em;
    line-height: 1.5em;
    margin: auto;
    max-width: 35em;
    text-align: center;
  }
}
