.cbp-af-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(255,255,255,1);
    z-index: 10000;
    overflow: hidden;
    @include transition (height 0.5s ease-in-out);
    z-index:1000000;
    height: 95px;

    img {
        width:125px;
        max-height:100%;
    }
}
 
.cbp-af-header .cbp-af-inner {
    width: 90%;
    max-width: 69em;
    margin: 0 auto;
    padding: 1.2em;
    text-align: center;

    a {
        @include transition (all 0.5s ease-in-out);
        &:hover {
            opacity:.8;
        }
    }
}
 
.cbp-af-header.cbp-af-header-shrink {
    height: 95px;
    @include transition (all 0.5s ease-in-out);

}
 
 
 
